---
import Layout from '../layouts/Layout.astro';
import Image_component from '../components/Image_component.astro';
import {readFile} from '../lib/readFile';
const image_list:[] = await readFile("out_imageList.json");

const plus_image_list:any[]  =[];
image_list.forEach((element:any) => {
	const partofImageName = element.date.replace(/[:/ ]+/g, "")+ "_" + element.name;
	element.imgUrls.forEach((dummy:any,index:number) =>{
		const stored_imageName =partofImageName+"_"+index.toString().padStart(2, "0");
		plus_image_list.push({stored_imageName:stored_imageName,...element}) ;
	})
}
);

		
---

<Layout title="Welcome to 乃木坂４６ブログ画像.">
	<main>
		<h1><span class="text-gradient">乃木坂４６ブログ画像</span></h1>
		{
			plus_image_list.map((element:any) => (
					  <Image_component
						name={element.name}
						page_title={element.title}
						page_url={element.url}
						page_updated={element.date}
						stored_imageName={element.stored_imageName}
					/>	
			)
			)
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
