---
// import { Image } from '@astrojs/image/components';
import { Image } from 'astro:assets';


export interface Props {
	name: string;
	page_title: string;
	page_url: string;
  page_updated:string;
	stored_imageName: string;
}

const { name, page_title, page_url, page_updated,stored_imageName} = Astro.props;
const group_name ="乃木坂４６";
const dir_image= "/images/";
// const dir_image= "src/assets/images/";
const extention = ".webp"
const image_pullpass = dir_image + stored_imageName + extention;
// import myImage1 from `$(image_pullpass)`; // Image is 1600x900

// import image_connect_pass from image_pullpass;
// const testpass = "../assets/202306272110_北川悠理_00.webp"

// https://main--taupe-bublanina-41fa89.netlify.app/public/202307031925_池田瑛紗_03.webp
// https://main--taupe-bublanina-41fa89.netlify.app/202307031925_池田瑛紗_03.webp
// https://main--taupe-bublanina-41fa89.netlify.app/favicon.svg

---
<div class="image-container">
  <a class="image-link" target="_blank" rel="noopener" href={page_url}>
    <div class="image-info">
      <h3 class="image-name">{name}</h3>
      <h3 class="image-date">{page_updated}</h3>
    </div>
    <Image
      class="image"
      src={image_pullpass}
      alt={group_name} 
      width={1500} height={1500}
    />
  </a>
</div>

<style>
  .image-container {
    width: 45%;
    /* flex-grow: 1; */
    justify-content: space-around;
    align-items: center;
    background-color: #F3F4F6;
    padding: 1rem;
  }
  .image-link {
    position: relative;

    padding: 0.25rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-info {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  .image-name {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .image-date {
    font-size: 0.875rem;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
  }

  @media (max-width: 600px) {
    .image-link {
      width: calc(100% - 2rem);
    }
    .image-container {
      width: 100%;
    }
  }
</style>
